apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: ghost-ingress
  namespace: ghost
  labels:
    app: ghost
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`blog.yourdomain.com`)
      kind: Rule
      services:
      - name: ghost-svc
        port: 2368
  tls:
    certResolver: le