apiVersion: v1
kind: ConfigMap
metadata:
  name: pihole-dnsmasq-cm
  namespace: pihole
  labels:
    app: pihole
data:
  dnsmasq.conf: |
    cache-size=10000
    dnssec
    dnssec-check-unsigned
    log-queries=extra
    log-facility=/var/log/pihole.log
    local-ttl=2
    dns-forward-max=500
    stop-dns-rebind
    rebind-domain-ok=/plex.direct/
