apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: traefik-netpolicy
  namespace: traefik
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: traefik
  policyTypes:
  - Ingress
  - Egress
  ingress:
  - ports:
    - protocol: TCP
      port: 80
  - ports:
    - protocol: TCP
      port: 443
  - ports:
    - protocol: TCP
      port: 8080
  - ports:
    - protocol: TCP
      port: 9100
  egress:
  - to:
    - namespaceSelector: {}
    ports:
    - protocol: UDP
      port: 53
    - protocol: TCP
      port: 53
  - to:
    - namespaceSelector: {}
  - to:
    - namespaceSelector: {}
    ports:
    - protocol: TCP
      port: 443
