apiVersion: v1
kind: ConfigMap
metadata:
  name: nextcloud-config
  namespace: nextcloud
  labels:
    app: nextcloud
data:
  nextcloud-config.php: |
    <?php
    $CONFIG = array (
      'memcache.local' => '\\OC\\Memcache\\APCu',
      'datadirectory' => '/var/www/html/data',
      'instanceid' => 'oc9a42455f22',
      'passwordsalt' => 'YourSaltValueFromDeployment',
      'secret' => 'YourSecretValueFromDeployment',
      'trusted_domains' => 
      array (
        0 => 'localhost',
        1 => 'cloud.yourdomain.com',
      ),
      'dbtype' => 'mysql',
      'version' => '30.0.5',
      'overwrite.cli.url' => 'https://cloud.yourdomain.com',
      'dbname' => 'nextcloud',
      'dbhost' => 'nextcloud-db-service',
      'dbport' => '',
      'dbtableprefix' => 'oc_',
      'mysql.utf8mb4' => true,
      'dbuser' => 'nextcloud',
      'installed' => false,
    );
