apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: uptime-ingressroute
  namespace: uptime
  labels:
    app: uptime
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`uptime.yourdomain.com`)
      kind: Rule
      services:
        - name: uptime-svc
          port: 80
      middlewares:
        - name: uptime-headers
  tls:
    certResolver: le
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: uptime-headers
  namespace: uptime
spec:
  headers:
    customRequestHeaders:
      X-Forwarded-Proto: "https"